@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


pre {
    margin: 20px auto;
    display: table;
    font-size: 0.9em;

    code {
        border-radius: 3px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding: 5px 25px !important;
        z-index: 100;
        position: relative;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        opacity: 0;
    }

    code.show {
        opacity: 1;
    }
    
}

#demoSection {
    background: url('../imgs/rapids.jpg');
    background-size: 100% auto;
    width: 100%;
    background-position: center bottom;
    height: 600px;
    padding-top: 0px;
    overflow:hidden;
    margin-top: 50px;
    
    pre {
        margin-top: 35px;
    }

    #mainOverlay {
        background: rgba(87, 124, 248, 0.6);
        position: absolute;
        width: 100%;
        height: 600px;
    }

    title {
        font-size: 3em;
        color: white;
        display: inline-block;
        text-align: center;
        width: 100%;
        position: relative;
    }
}

#installSection {
    margin-top: 20px;
    title {
        font-size: 2em;
        color: #333;
        display: inline-block;
        text-align: center;
        width: 100%;
        position: relative;
    }
}


#features {
    width: 95%;
    margin: 0px auto;
    section {
        width: 30%;
        padding: 0px 1.5%;
        text-align: center;
        float: left;
        border-right: solid 1px #eee;
        title {
            font-size: 1.5em;
            display: block;
            text-align: center;
        }
        img {
            height: 200px;
        }

        a  {
            color: rgba(87, 124, 248, 1);
        }

        &:last-child {
            border: 0;
        }
    }
}
