<nav>
    <div id="title"><a href="/">Rapid</a></div>

    <div id="starButton">
        <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/kiricon/rapid" data-size="large" data-show-count="true" aria-label="Star kiricon/rapid on GitHub">Star</a>
    </div>
    <div id="github">
        <a href="http://github.com/kiricon/rapid">
        Github
        </a>
    </div>

    <div id="documentation">
        <a href="https://godoc.org/github.com/Kiricon/Rapid" target="_blank">
        Documentation
        </a>
    </div>
</nav>