<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rapid HTTP Framework</title>
</head>

<body>
    {{ partial partials/header.html}}


    <section id="demoSection">
        
        <div id="mainOverlay"></div>
        <title>Simple Code</title>
        <pre>
            
            <code class="go">
    package main

    import rapid "github.com/Kiricon/Rapid"

    func main() {
        // New instance of server
        app := rapid.App()

        // Make a path at "/" that returns "Hello World"
        app.Get("/", func(c rapid.Connection) {
            c.Send("Hello World")
        })

        // Make your server listen on port 8080
        app.Listen(8080)
    }
            </code>
        </pre>
    </section>

    <div id="installSection">
        <title>Install</title>
        <pre id="goGet"><code class="bash">go get github.com/Kiricon/Rapid</code></pre>
    </div>

    <div id="features">
        <section>
            <img src="imgs/rocket.png" />
            <title>Rapid Development</title>
            <p>
                Developing HTTP apis in Rapid is fast and easy to read.
                With a styling similiar to popular HTTP frameworks it's easy
                to pick up for developers coming from other ecosystems.
            </p>
        </section>

        <section>
            <img src="imgs/opensource.png" />
            <title>Open Source</title>
            <p>
                Rapid is an opensource project and availabe to anyone
                willing to contribute. The code is accessible to anyone
                so you can double check yourself that it's good!<br/>
                Check out the project on <a href="http://github.com/kiricon/rapid">Github</a>.
            </p>
        </section>

        <section>
            <img src="imgs/simple.png" />
            <title>No Bloat</title>
            <p>
                No Dependencies.<br/>
                No Unnecessary features.<br/>
                Built in Go for performance.<br/>
                Made with speed in mind.<br/>
            </p>
        </section>
    </div>

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script src="js/app.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>